/* DECLARATION OF VARIABLES */

:root {
  --background-dark: #232222;
  --background-light: #F2FAF5;
  --primary-dark: #700000;
  --primary-light: #55B67E;
  --secondary-dark: hsl(0, 0%, 0%, 30%);
  --secondary-light: hsl(217, 40%, 70%, 30%);
  --secondary-withMoreOpacity-dark: hsl(0, 0%, 0%, 50%);
  --secondary-withMoreOpacity-light: hsl(217, 40%, 70%, 30%);
  --accent-dark: #e22c7b;
  --accent-light: #7073C2;
  --text-dark: #e0e0e0;
  --text-light: #060E09;
  --gradient-main-dark: linear-gradient(120deg, var(--primary-dark), var(--accent-dark));
  --gradient-main-light: linear-gradient(120deg, var(--primary-light), var(--accent-light));
  --border-style: 1px solid var(--text);
  --border-style-button: 1px solid rgba(255, 255, 255, 0.1);
  --transition-duration: 300ms;
  --font-family: 'Poppins', sans-serif, system-ui;
  --container-project-mask-width: 85%;
  --notification-success-bg-color: #d1fadf;
  --notification-success-color: #047440;
  --notification-error-bg-color: #ffb7b8;
  --notification-error-color: #8d0000;
  --carousel-width: 80%;
}

/* GENERAL */

* {
  font-family: var(--font-family);
}

body {
  position: relative;
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23e0e0e0' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: var(--text);
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  margin: 0 auto;
  width: 80%;
}

.highlight {
  background: var(--gradient-main);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.highlight-secondary {
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.secondary-highlight {
  font-style: italic;
  font-weight: 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text);
  color: transparent;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.blob {
  width: 300px;
  height: 300px;
  border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  overflow: hidden;
  animation: flow 4s infinite ease-in-out;
}

.blob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification {
  position: absolute;
  top: 20px;
  transform: translateX(100%);
  width: 500px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.notification.success {
  background-color: var(--notification-success-bg-color);
  color: var(--notification-success-color);
  border: 1px solid var(--notification-success-color);
}

.notification.error {
  background-color: var(--notification-error-bg-color);
  color: var(--notification-error-color);
  border: 1px solid var(--notification-error-color);
}

/* HEADER */

header {
  max-height: 12vh;
  width: 100%;
  padding: 2.5vh 0 4vh 0;
  border-bottom: var(--border-style);
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-title {
  margin: 1vh 0 0 0;
}

#container-title h1,
#container-title h2 {
  margin: 0;
  width: fit-content;
  height: fit-content;
}

.navbar {
  flex: 1;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar ul {
  align-items: center;
  justify-content: flex-end;
}

.navbar ul li {
  margin-left: 60px;
}

a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.1rem;
}

nav ul li a:hover,
nav ul li a.active {
  filter: invert(45%);
}

/* CONTENT */

.content {
  padding: 0 0 80px 0;
}

.container,
.container-small {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  width: 100%;
}

.container-small {
  width: 60%;
}

.container-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#p-presentation {
  text-align: left;
  font-size: 1.2rem;
  margin-right: 100px;
}

#container-p-me {
  margin-bottom: 7vh;
}

#container-me {
  transform: translateX(200px);
}

#image-me {
  background: var(--gradient-main);
}

/*
  CAROUSEL
*/

.embla {
  overflow: hidden;
  width: var(--carousel-width);
  height: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide img {
  border: var(--border-style-button);
  border-radius: 5px;
  width: 100%;
  height: 650px;
  object-fit: cover;
  overflow: hidden;
}

.icons {
  width: 100%;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 50px;
}

.project {
  flex-grow: 1;
  flex-basis: 30%;
}

.mask {
  border: 2px solid var(--secondary);
  border-radius: 5px;
  user-select: none;
  overflow: hidden;
}

.project .mask {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 280px;
  transition: all var(--transition-duration);
}

img {
  width: 100%;
  transition: all var(--transition-duration);
}

.project .mask:hover img {
  width: 101%;
  filter: blur(5px);
}

.project .mask:hover {
  box-shadow: 0 5px 17px var(--accent);
}

.project .mask .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all var(--transition-duration);
}

.project .mask:hover .overlay {
  opacity: 1;
}

.project .mask .overlay p {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.project span {
  display: block;
  margin: 20px 0;
  color: gray;
}

.project h4 {
  margin: 20px 0 0 0;
}

.project h5 {
  margin-top: 10px;
  border-top: 1px solid #ddd;
  padding-top: 5px;
  color: gray;
  font-weight: 200;
}

#project-mask-technologies {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

#container-project .mask {
  width: var(--container-project-mask-width);
  height: 587px;
  margin-bottom: 70px;
  overflow: hidden;
}

.text-box {
  width: var(--carousel-width);
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #696969;
  border-radius: 5px;
  margin: 30px 0 60px 0;
  text-align: left;
  background-color: var(--secondary);
  color: var(--text);
  font-weight: 500;
}

.text-project-details {
  background: var(--primary);
  filter: grayscale(20%);
  line-height: 3;
  width: fit-content;
  padding: 0 10px;
  border-radius: 3px;
}

.technologies {
  margin: 20px 0;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

#container-project a {
  margin: 0;
}

.services {
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}

.service-card {
  flex-grow: 1;
  flex-basis: 30%;
  width: 400px;
  height: 350px;
  padding: 25px;
  border-radius: 10px;
  background: var(--secondary-withMoreOpacity);
  transition: all var(--transition-duration) ease;
  user-select: none;
}

.service-card:hover {
  box-shadow: 0 12px 17px var(--accent);
}

#separator-p-technologie {
  height: 80%;
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-service-icon {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: -35px auto 0;
  background-color: var(--text);
  color: var(--background);
  border-radius: 4px;
  padding: 7px;
}

.container-service-icon img {
  filter: invert();
}

.service-card h4 {
  text-align: center;
  letter-spacing: 1px;
}

/* HEADLINES */

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', serif;
  font-weight: 700;
}

h1,
h2 {
  color: var(--text);
  text-align: left;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

.heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}

#container-presentation .heading {
  font-size: 2rem;
  text-decoration: underline;
}

.subheading {
  font-size: 1.7rem;
  text-transform: capitalize;
}

/* BUTTONS */

button,
.button-primary,
.button-secondary,
.a-button {
  text-decoration: none;
  padding: 15px 35px;
  border: var(--border-style-button);
  border-radius: .5rem;
  outline: none;
  margin: 15px 7px;
  color: var(--text);
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-family: var(--font-family);
  cursor: pointer;
  transition: var(--transition-duration);
}

button:hover,
.button-primary:hover,
.button-secondary:hover {
  transform: translateY(-4px);
}

.button-primary {
  background: var(--gradient-main);
  margin-left: 0;
}

.button-secondary {
  background-color: var(--secondary);
}

/* INPUTS */
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 5px 0;
  outline: none;
  background-color: var(--secondary-withMoreOpacity);
  color: var(--text);
  font-size: 1.1rem;
  font-family: var(--font-family);
}

textarea {
  border-radius: 5px 10px;
  resize: none;
  height: 150px;
  scrollbar-color: var(--primary) var(--secondary);
  scrollbar-width: thin;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2.5vh 0 4vh 0;
  border-top: var(--border-style);
  margin-top: auto;
  font-size: smaller;
}

/* RESPONSIVE */

/* MacBook Pro */
@media (max-width: 1440px) {

  /* HEADLINES */
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.49rem;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.41rem;
  }

  /* HOMEPAGE */

  #container-me {
    transform: translateX(-100px);
  }

  #highlight-text {
    text-decoration: underline;
  }

  /* SERVICES */
  .service-card {
    width: 350px;
  }
}

/* iPad */
@media (max-width: 768px) {

  /* GENERAL */
  header {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  /* NAVBAR */
  nav.navbar ul {
    margin: 0;
  }

  nav.navbar ul li {
    margin: 0 40px 0 0;
  }

  /* HOMEPAGE */
  .blob {
    width: 200px;
    height: 200px;
  }

  .project .mask .overlay p {
    font-size: small;
  }

  /* SERVICES */
  .service-card {
    width: 280px;
  }

  /* CONTACT */
  #container-contact-info-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

/* iPhone 12 Pro */
@media (max-width: 390px) {

  /* HEADLINES */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.9rem
  }

  .heading {
    font-size: 1.6rem;
  }

  .subheading {
    font-size: 1.13rem;
  }

  /* NAVBAR */
  nav.navbar ul li a {
    font-size: small;
  }

  nav.navbar ul li {
    margin: 0 20px 0 0;
  }

  /* HOMEPAGE */
  #container-p-me {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  #p-presentation {
    text-align: left;
    font-size: 1.2rem;
    margin-right: 100px;
  }

  #container-me {
    align-self: center;
  }

  .projects {
    flex-wrap: wrap;
  }

  .project {
    flex-basis: 100%;
  }

  /* PROJECT */
  #project-mask-technologies .technologies {
    flex-direction: row;
    margin: -20px 0 50px 0;
  }

  #project-technologies {
    width: 300px;
  }

  .project span {
    font-size: small;
  }

  .text-box p {
    font-size: small;
  }

  .text-box p.highlight-secondary {
    font-size: 1rem;
  }

  /* CONTACT */
  #container-contact-page {
    flex-direction: column;
  }

  #container-contact {
    width: 100%;
  }

  #container-contact-info .blob {
    display: none;
  }

}

/* ANIMATIONS */

@keyframes flow {
  0% {
    border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  }

  35% {
    border-radius: 80% 70% 60% 60% / 80% 70% 60% 60%;
  }

  70% {
    border-radius: 70% 90% 60% 70% / 80% 90% 50% 90%;
  }

  100% {
    border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  }
}